@font-face {
    font-family: euclid circular a;
    font-style: normal;
    font-weight: 400;
    src: local('Euclid Circular A'), url('https://fonts.cdnfonts.com/s/60248/Euclid Circular A Regular.woff') format('woff')
}

@font-face {
    font-family: euclid circular a;
    font-style: italic;
    font-weight: 400;
    src: local('Euclid Circular A'), url('https://fonts.cdnfonts.com/s/60248/Euclid Circular A Italic.woff') format('woff')
}

@font-face {
    font-family: euclid circular a;
    font-style: normal;
    font-weight: 300;
    src: local('Euclid Circular A'), url('https://fonts.cdnfonts.com/s/60248/Euclid Circular A Light.woff') format('woff')
}

@font-face {
    font-family: euclid circular a;
    font-style: italic;
    font-weight: 300;
    src: local('Euclid Circular A'), url('https://fonts.cdnfonts.com/s/60248/Euclid Circular A Light Italic.woff') format('woff')
}

@font-face {
    font-family: euclid circular a;
    font-style: normal;
    font-weight: 500;
    src: local('Euclid Circular A'), url('https://fonts.cdnfonts.com/s/60248/Euclid Circular A Medium.woff') format('woff')
}

@font-face {
    font-family: euclid circular a;
    font-style: italic;
    font-weight: 500;
    src: local('Euclid Circular A'), url('https://fonts.cdnfonts.com/s/60248/Euclid Circular A Medium Italic.woff') format('woff')
}

@font-face {
    font-family: euclid circular a;
    font-style: normal;
    font-weight: 600;
    src: local('Euclid Circular A'), url('https://fonts.cdnfonts.com/s/60248/Euclid Circular A SemiBold.woff') format('woff')
}

@font-face {
    font-family: euclid circular a;
    font-style: italic;
    font-weight: 600;
    src: local('Euclid Circular A'), url('https://fonts.cdnfonts.com/s/60248/Euclid Circular A SemiBold Italic.woff') format('woff')
}

@font-face {
    font-family: euclid circular a;
    font-style: normal;
    font-weight: 700;
    src: local('Euclid Circular A'), url('https://fonts.cdnfonts.com/s/60248/Euclid Circular A Bold.woff') format('woff')
}

@font-face {
    font-family: euclid circular a;
    font-style: italic;
    font-weight: 700;
    src: local('Euclid Circular A'), url('https://fonts.cdnfonts.com/s/60248/Euclid Circular A Bold Italic.woff') format('woff')
}

:root {
    --header-border-color: #dadce0;
    --link-color: #5f6368;
    --input-color: #f1f3f4;
    --header-link-color: #1769e0;
    --first-section-bg: #073042;
    --header-bg: #fff;
    --section-font: 500 14px/24px Android Euclid, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
    --box-color: #d7effe;
    --box-shadow: 0 14px 25px 0 rgba(60, 64, 67, .08), 0 4px 13px 0 rgba(60, 64, 67, .12);
    --font: 'Euclid Circular A';
    --paragraph-font: Roboto;
    --second-div-bg: #d7effe;
    --second-div-color: #3c4043;
    --different-bg: #f8f9fa;
    --buttons-border: 1px solid #e8eaed;
    --button-radius: 0.125rem;
    --transition: .2s ease-out;
    --important-font: Roboto, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
    --button-color: #3ddc84;
    --button-hover: #eff7cf;
}

* {
    font-family: Roboto, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
    border: none;
    outline: none;
}



.header-border {

    border-bottom: 1px solid var(--header-border-color);
    background: var(--header-bg);
}

header a {
    color: var(--link-color);
    font: var(--section-font);
}

header form {
    display: flex;
    color: var(--link-color);
}

.input-class {
    background: var(--input-color);
    border: 0;
}

.input-class[placeholder] {
    padding-left: 3rem;
    font: var(--section-font);
    border-radius: 3px;
}

.buttons {
    font-family: Roboto, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
    color: var(--link-color);
    border: var(--buttons-border);
    border-radius: var(--button-radius);
    transition: 0.2s ease 0s;

    &:hover {
        background: var(--input-color);
    }
}

#second-links * {
    color: var(--header-link-color);
    font: 500 14px/36px Android Euclid, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;

}

.slider {
    background: var(--first-section-bg);
    height: 33rem;
    color: #fff;
    font-family: var(--font);
}

.slider * h1 {

    line-height: 72px;
}

.slider p {
    line-height: 1.5;
    font-size: 1.25rem;
}

.section-form {
    color: var(--link-color);
}

.box-main-container {
    transition: var(--transition);
    opacity: 1;
    gap: 1rem;
    font-family: var(--font);

    .box {
        background: var(--box-color);
        transition: var(--transition);
        opacity: 1;

        &:hover {
            box-shadow: var(--box-shadow);
            transition: var(--transition);
        }
    }

    .box-icons {
        color: #073042;
    }

}

.uppercase-div {
    font-family: var(--font);
    background: var(--first-section-bg);
    color: var(--header-bg);
    transition: var(--transition);

    &:hover {
        box-shadow: var(--box-shadow);
    }

    &:hover .button-div {

        transition: var(--transition);
        background: var(--header-bg);
        color: var(--first-section-bg);
    }


    .uppercase-content {
        font-size: 2rem;
        line-height: 40px;
    }

    p {
        font-family: var(--paragraph-font);
        line-height: 1.5rem;
    }

    .button-div {
        border: 2px solid var(--header-bg);
        color: var(--header-bg);
        padding: 1rem;
        transition: var(--transition);

    }
}

.change-div {
    background: var(--second-div-bg);
    color: var(--second-div-color);
    height: 100%;

    .second-div-color {
        color: var(--first-section-bg);
        border: 2px solid var(--first-section-bg);
    }

    &:hover .button-div {
        transition: var(--transition);
        background: var(--header-bg);
        color: var(--first-section-bg);
        border: 2px solid var(--header-bg);
    }

}

.different-bg-section {
    background: var(--different-bg);
    color: var(--second-div-color);
    font-family: var(--font);
    font-size: 40px;
    line-height: 48px;

    p {
        font-family: var(--important-font);
        font-size: 1rem;
        line-height: 1.7rem;
    }

    .section-buttons {
        background: var(--button-color);
        font-size: 1rem;
        transition: var(--transition);

    }

    .font-p {
        font-family: var(--font);
    }

    h3 {
        font-size: 2rem;
        line-height: 40px;
    }

    .special-font {
        font-size: 0.875rem;
    }

    .section-buttons:hover {
        background: var(--button-hover);
    }

    .blog-title:hover {
        color: var(--header-link-color);
        cursor: pointer;
    }

}

#explore {
    font-family: var(--font);

    .explore-box{
        background: var(--first-section-bg);
        transition: var(--transition);
        color: var(--second-div-bg);
        padding: 3.125rem;
        height: 420px;


        &:hover{
            box-shadow: var(--box-shadow);
            color: var(--header-bg);
        }

        p{
            font-family: var(--important-font);
            line-height: 1.6rem;
            color: var(--header-bg);
        }

    }

}
